// Bootstrap resets
.myContainer{
  margin: 30px;
  background-color: white;

}

.title{
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  border-bottom: 1px solid red;
}

.teamcard {
  width: 105px;
  height: 105px;
}

.flex-container > div {
  background-color: #ffffff;
   margin: 10px;
  text-align: center;
  font-size: 10px;
  text-align: left;
  padding: 5px;
}

.username {
  font-size: 12px;
  white-space: nowrap;
}
// p{}

.nowrap {
  font-size: 10px;
  white-space: nowrap;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #1c3247;
  background: linear-gradient(to bottom, #07151c 5%, #59656e 100%);
  background-color: #07151c;
  border-radius: 3px;
  border: 1px solid #3f474d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  padding: 3px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #393d42;
}
.myButton:hover {
  background: linear-gradient(to bottom, #59656e 5%, #07151c 100%);
  background-color: #59656e;
}

.background-theme {
  background-color: white;
  margin: 30px;
  padding: 20px;
}
