.vertical-center {
  min-height: 75%; /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.box {
  width: 80%;

  text-align: center;
  position: relative;
  left: 10%;
  top: 65px;

  padding: 20px;
  background-color: white;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #1c3247;
  background: linear-gradient(to bottom, #07151c 5%, #59656e 100%);
  background-color: #07151c;
  border-radius: 3px;
  border: 1px solid #3f474d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 9px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #393d42;
}
.myButton:hover {
  background: linear-gradient(to bottom, #59656e 5%, #07151c 100%);
  background-color: #59656e;
}

.myInput {
  width: 100%;
  border: 0px solid black;
}

.myInput:focus {
  border-bottom: 1px solid rgb(50, 175, 184);
  z-index: 100;
}
