.vertical-center {
  min-height: 75%; /* Fallback for browsers do NOT support vh unit */
  min-height: 75vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.myButton {
  margin-top: 30px;
  position: absolute;
  left: 35%;
  box-shadow: inset -1px 16px 0px -1px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: -18px 7px 4px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}
.myButton:active {
  position: relative;
  top: 1px;
}
